<nav class="navbar navbar-style">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href=""><img src="images/logo.png" width="100px" style="margin-top: -25px"></a>
        </div>
        <div class="collapse navbar-collapse" id="micon">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/products">All Products</a></li>
                <li><a href="#categories">Categories</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/account">Account</a></li>
                <% if (typeof(user) !=='undefined' ) { %>
                    <li>
                        <a id="logout">Logout</a>
                    </li>
                    <% } %>
            </ul>
        </div>

        <script>
            const getCookie = (name) => {
                return document.cookie.split(';').some(c => {
                    return c.trim().startsWith(name + '=');
                });
            }

            const deleteCookie = (name) => {
                if (getCookie(name))
                    document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            }

            let logout = document.querySelector('#logout')
            logout.addEventListener('click', () => {
                deleteCookie('authStatus')
                deleteCookie('username')
                window.location.href = '/'
            })

        </script>
</nav>