<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>remsgems</title>
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link rel="manifest" href="images/site.webmanifest">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="index.css">


	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
	<header class="header">
		<%- include('partials/navbar') %>

			<div class="row">
				<div class="col-2">
					<h1>Give Your Style <br> A New Vibe!</h1>
					<p>The key to indulging in this self-care experience is <br>Mindfulness, Reflection, and Acceptance.
					</p>
					<a href="#categories" class="btn">Shop Now</a>
				</div>
				<img src="images/sample.jpg" width="170px" style="border-radius: 50%; margin-right: -10%">
	</header>
	</div>

	<div class="categories" id="categories">
		<h1 class="titleC">Categories</h1>
		<div class="container-2">
			<div class="row">
				<div class="col-3">
					<a href="page3.html"><img src="images/earrings.jpg" width="350px" height="350px"></a>
					<div style="background-color: #CBE6E5;width: 200px; height: 40px;padding: 10px;">
						<p>Earrings</p>
					</div>
				</div>
				<div class="col-3">
					<a href="page3.html"><img src="images/necklaces.jpg" width="350px" height="350px"></a>
					<div style="background-color: #CBE6E5;width: 200px; height: 40px;padding: 10px;">
						<p>Necklaces</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<a href="page3.html"><img src="images/bracelets.jpg" width="350px" height="350px"></a>
					<div style="background-color: #CBE6E5;width: 200px; height: 40px;padding: 10px;">
						<p>Bracelets</p>
					</div>
				</div>
				<div class="col-4">
					<a href="page3.html"><img src="images/rings.jpg" width="350px" height="350px"></a>
					<div style="background-color: #CBE6E5; width: 200px; height: 40px;padding: 10px;">
						<p>Rings</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- offer -->
	<div class="offer">
		<div class="container-2">
			<div class="row">
				<div class="col-2">
					<img src="images/best1.png" class="offer-img" width="190px">
				</div>
				<div class="col-2">
					<p>Exclusive Offer</p>
					<h1>Diamond Ring</h1>
					<small>
						Swarovski
					</small>
				</div>
			</div>
		</div>
	</div>

	<div class="footer" id="footer">
		<div class="container">
			<div class="row">
				<div class="footer-col-1">
					<h3>Follow Us</h3>
					<p>Facebook</p>
					<p>Instagram</p>
					<p>Twitter</p>
				</div>
				<div class="footer-col-2" id="contact">
					<h3>Contact</h3>
					<p>+91 1234567890</p>
					<p>Jewels@yahoo.com</p>
					<p>No. 10 Jewel Road, Mumbai</p>
				</div>
			</div>
		</div>
		<hr>
		<p style="font-size: small; color: white">Developed by: Siddharth Dhaigude, Saurav Sushil, Christie Thottam</p>
	</div>

</body>

</html>